h1 {
    color: white;
    font-size: 27px;
    line-height: 31px;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

h2 {
    color: white;
    font-size: 21px;
    line-height: 34px;
    margin-bottom: 20px;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

form, input, button, p, td {
    color: black;
    font-size: 20px;
    line-height: 18px;
}

select {
    width: 100px;
}

p {
    margin-bottom: 10px;
}

input, select {
    margin-bottom: 10px;
}

body {
    background-color: white;
}

main {
    display: flex;
    padding: 50px 0px;
    min-height: 75vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #AFEEEE;
}

header {
	background-color: #20B2AA;
}

header nav {
	justify-content: center;
}

header nav a {
    margin: 0px 50px;
    justify-content: center;
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

section {
    margin-bottom: 150px;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.actions button {
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    font-size: 21px;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #20B2AA;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.actions button:hover {
    background-color: orange;
}

.inputs {
    display: flex;
    width: 600px;
    flex-direction: column;
}