body {
    background-color: #AFEEEE;
}

.orbit {
  position: absolute;
  z-index: 10;
  width: 75px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin: -100px -50px;
  border: 2px solid rgba(51, 50, 0, 0.938);
  border-radius: 50%;
  background-image: radial-gradient( rgba(0, 0, 0, 0.2), rgba(255, 251, 0, 0.459));
}

.rot45 {
  z-index: 6;
  transform: rotate(45deg);
}

.rot90 {
  z-index: 4;
  transform: rotate(90deg);
}

.rot135 {
  z-index: 6;
  transform: rotate(135deg);
}

.prot {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 95px 35px;
  border-radius: 50%;
  background-color: rgb(59, 32, 0);
  background-color: rgba(59, 32, 0, 0.7);
}

.elec {
  position: absolute;
  top: 96px;
  left: -6px;
}

.elec:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(59, 32, 0, .7);
}

.sp1 {
  animation-name: lr;
  animation-duration:  100s;
  animation-iteration-count: infinite;
}

.sp1:after {
  animation-name: ud;
  animation-duration:  100s;
  animation-iteration-count: infinite;
}

.sp2 {
  animation: lr 10s infinite;
}

.sp2:after {
  animation-name: ud;
  animation-duration:  10s;
  animation-iteration-count: infinite;
}

.sp3 {
  animation-name: lr;
  animation-duration:  1s;
  animation-iteration-count: infinite;
}

.sp3:after {
  animation-name: ud;
  animation-duration:  1s;
  animation-iteration-count: infinite;
}

.sp4 {
  animation-name: lr;
  animation-duration:  10s;
  animation-iteration-count: infinite;
}

.sp4:after {
  animation-name: ud;
  animation-duration:  10s;
  animation-iteration-count: infinite;
}

@keyframes lr {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(0px);
  }
  25% {
    animation-timing-function: ease-out;
    transform: translateX(38px);
  }
  50% {
    animation-timing-function: ease-in;
    transform: translateX(78px);
  }
  75% {
    animation-timing-function: ease-out;
    transform: translateX(38px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes ud {
  0% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  25% {
    animation-timing-function: ease-in;
    transform: translateY(-102px);
  }
  50% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  75% {
    animation-timing-function: ease-in;
    transform: translateY(102px);
  }
  100% {
    transform: translateY(0px);
  }
}