h1 {
    color: yellow;
    font-size: 36px;
    line-height: 31px;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
	text-align: center;
}

header {
	background-color: #20B2AA;
}

header nav {
	justify-content: center;
}

header nav a {
    margin: 0px 50px;
    justify-content: center;
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

body {
    background-color: #AFEEEE;
}

.orbit {
  position: absolute;
  z-index: 10;
  width: 75px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin: -100px -50px;
  border: 2px solid rgba(51, 50, 0, 0.938);
  border-radius: 50%;
  background-image: radial-gradient( rgba(0, 0, 0, 0.2), rgba(255, 251, 0, 0.459));
}

.rot45 {
  z-index: 6;
  transform: rotate(45deg);
}

.rot90 {
  z-index: 4;
  transform: rotate(90deg);
}

.rot135 {
  z-index: 6;
  transform: rotate(135deg);
}

.prot {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 93px 29px;
  border-radius: 50%;
  background-color: rgba(59, 32, 0, 0.7);
}

.elec {
  position: absolute;
  top: 96px;
  left: -6px;
  border-radius: 50%;
}

.elec:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
}

.sp1 {
  animation-name: moving;
  animation-duration:  10s;
  animation-iteration-count: infinite;
}

.sp2 {
  animation-name: moving;
  animation-duration:  20s;
  animation-iteration-count: infinite;
}

.sp3 {
  animation-name: moving;
  animation-duration:  30s;
  animation-iteration-count: infinite;
}

.sp4 {
  animation-name: moving;
  animation-duration:  40s;
  animation-iteration-count: infinite;
}

@keyframes moving {
  0% {
    animation-timing-function: linear;
    transform: translateX(0px) translateY(0px);
  }
  5% {
    animation-timing-function: linear;
    transform: translateX(1px) translateY(-22px);
  }
  10% {
    animation-timing-function: linear;
    transform: translateX(4px) translateY(-42px);
  }
  15% {
    animation-timing-function: linear;
    transform: translateX(9px) translateY(-62px);
  }
  20% {
    animation-timing-function: linear;
    transform: translateX(18px) translateY(-82px);
  }
  23% {
    animation-timing-function: linear;
    transform: translateX(25px) translateY(-94px);
  }
  25% {
    animation-timing-function: linear;
    transform: translateX(42px) translateY(-102px);
  }
  27% {
    animation-timing-function: linear;
    transform: translateX(55px) translateY(-94px);
  }
  30% {
    animation-timing-function: linear;
    transform: translateX(63px) translateY(-82px);
  }
  35% {
    animation-timing-function: linear;
    transform: translateX(69px) translateY(-62px);
  }
  40% {
    animation-timing-function: linear;
    transform: translateX(74px) translateY(-42px);
  }
  45% {
    animation-timing-function: linear;
    transform: translateX(77px) translateY(-22px);
  }
  50% {
    animation-timing-function: linear;
    transform: translateX(78px) translateY(0px);
  }
  55% {
    animation-timing-function: linear;
    transform: translateX(77px) translateY(22px);
  }
  60% {
    animation-timing-function: linear;
    transform: translateX(74px) translateY(42px);
  }
  65% {
    animation-timing-function: linear;
    transform: translateX(69px) translateY(62px);
  }
  70% {
    animation-timing-function: linear;
    transform: translateX(63px) translateY(82px);
  }
  73% {
    animation-timing-function: linear;
    transform: translateX(55px) translateY(94px);
  }
  75% {
    animation-timing-function: linear;
    transform: translateX(42px) translateY(102px);
  }
  77% {
    animation-timing-function: linear;
    transform: translateX(25px) translateY(94px);
  }
  80% {
    animation-timing-function: linear;
    transform: translateX(18px) translateY(82px);
  }
  85% {
    animation-timing-function: linear;
    transform: translateX(9px) translateY(62px);
  }
  90% {
    animation-timing-function: linear;
    transform: translateX(4px) translateY(42px);
  }
  95% {
    animation-timing-function: linear;
    transform: translateX(1px) translateY(22px);
  }
  100% {
    animation-timing-function: linear;
    transform: translateX(0px) translateY(0px);
  }
}
  
  