body {
    background-color: #AFEEEE;
}

.orbit {
  position: absolute;
  z-index: 10;
  width: 75px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin: -100px -50px;
  border: 2px solid rgba(51, 50, 0, 0.938);
  border-radius: 50%;
  background-image: radial-gradient( rgba(0, 0, 0, 0.2), rgba(255, 251, 0, 0.459));
}

.rot45 {
  z-index: 6;
  transform: rotate(45deg);
}

.rot90 {
  z-index: 4;
  transform: rotate(90deg);
}

.rot135 {
  z-index: 6;
  transform: rotate(135deg);
}

.prot {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 93px 29px;
  border-radius: 50%;
  background-color: rgba(59, 32, 0, 0.7);
}

.elec {
  position: absolute;
  top: 96px;
  left: -6px;
  border-radius: 50%;
}

.elec:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
}

.sp1 {
  animation-name: moving;
  animation-duration:  10s;
  animation-iteration-count: infinite;
}

.sp2 {
  animation-name: moving;
  animation-duration:  20s;
  animation-iteration-count: infinite;
}

.sp3 {
  animation-name: moving;
  animation-duration:  30s;
  animation-iteration-count: infinite;
}

.sp4 {
  animation-name: moving;
  animation-duration:  40s;
  animation-iteration-count: infinite;
}

@keyframes moving {
  0% {
    animation-timing-function: linear;
    transform: translateX(0px) translateY(0px);
  }
  5% {
    animation-timing-function: linear;
    transform: translateX(1px) translateY(-20px);
  }
  10% {
    animation-timing-function: linear;
    transform: translateX(4px) translateY(-40px);
  }
  15% {
    animation-timing-function: linear;
    transform: translateX(9px) translateY(-61px);
  }
  20% {
    animation-timing-function: linear;
    transform: translateX(16px) translateY(-81px);
  }
  25% {
    animation-timing-function: linear;
    transform: translateX(38px) translateY(-102px);
  }
  30% {
    animation-timing-function: linear;
    transform: translateX(61px) translateY(-81px);
  }
  35% {
    animation-timing-function: linear;
    transform: translateX(68px) translateY(-61px);
  }
  40% {
    animation-timing-function: linear;
    transform: translateX(72px) translateY(-40px);
  }
  45% {
    animation-timing-function: linear;
    transform: translateX(75px) translateY(-20px);
  }
  50% {
    animation-timing-function: linear;
    transform: translateX(76px) translateY(0px);
  }
  55% {
    animation-timing-function: linear;
    transform: translateX(75px) translateY(20px);
  }
  60% {
    animation-timing-function: linear;
    transform: translateX(72px) translateY(40px);
  }
  65% {
    animation-timing-function: linear;
    transform: translateX(68px) translateY(61px);
  }
  70% {
    animation-timing-function: linear;
    transform: translateX(61px) translateY(81px);
  }
  75% {
    animation-timing-function: linear;
    transform: translateX(38px) translateY(102px);
  }
  80% {
    animation-timing-function: linear;
    transform: translateX(16px) translateY(81px);
  }
  85% {
    animation-timing-function: linear;
    transform: translateX(9px) translateY(61px);
  }
  90% {
    animation-timing-function: linear;
    transform: translateX(4px) translateY(40px);
  }
  95% {
    animation-timing-function: linear;
    transform: translateX(1px) translateY(20px);
  }
  100% {
    animation-timing-function: linear;
    transform: translateX(0px) translateY(0px);
  }
}
  
  