main {
    display: flex;
    padding: 50px 0px;
    height: 75vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--white-color);
}

button {
    position: absolute;
    color: yellow;
    height: 50px;
    border: none;
    font-size: 21px;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: #808000;
}

button:hover {
    color: black;
    background-color: yellow;
}

.container_top {
  position: relative;
}

.container_top .convertCelsFahButton {
  top: 30%;
  left: 22%;
}

.container_top .convertFahCelsButton {
  top: 50%;
  left: 30%;
}

.container_top .convertRumCelsButton {
  top: 30%;
  left: 65%;
}

.container_top .convertCelsRumButton {
  top: 50%;
  left: 55%;
}

.container_bottom .convertFahRumButton {
  top: 63%;
  left: 43%;
}

.container_bottom .convertRumFahButton {
  top: 25%;
  left: 43%;
}
.container_bottom {
  position: relative;
}

.homePageLink {
    margin-top: 100px;
}