main {
    display: flex;
    height: 75vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--white-color);
}

.title {
    font-size: 48px;
	color: white;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

header {
	background-color: #20B2AA;
}

header nav {
	justify-content: center;
}

header nav a {
    margin: 0px 50px;
    justify-content: center;
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

button {
    position: absolute;
    color: yellow;
    height: 30px;
    border: none;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    background-color: #808000;
}

button:hover {
    color: black;
    background-color: yellow;
}

.container_top {
  position: relative;
}

.container_top .convertCelsFahButton {
  top: 28%;
  left: 15%;
}

.container_top .convertFahCelsButton {
  top: 45%;
  left: 24%;
}

.container_top .convertRumCelsButton {
  top: 28%;
  left: 59%;
}

.container_top .convertCelsRumButton {
  top: 45%;
  left: 48%;
}

.container_bottom .convertFahRumButton {
  top: 58%;
  left: 37%;
}

.container_bottom .convertRumFahButton {
  top: 21%;
  left: 37%;
}
.container_bottom {
  position: relative;
}

.homePageLink {
    margin-top: 20px;
	background-color: #20B2AA;
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}